{% extends "main/base.html" %}
{% load static %}
{% block content %}

<style>
    .gallerymidle{
        margin-left: 65px;
        background-color: lightgray;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

         
     

       <div class=gallerymidle>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
               <h5 class="alert alert-warning bg-warning text-center text-primary"> GALLERY UPLODE AREA </h5>
            {{form.as_p}}
            <input type="submit" value="Uplode" class="btn btn-warning">
        </form>
         </div>

            {% if messages %}
            {% for message in messages %}

            <small class="alert alert-success text-center mt-1">{{ message }}</small>

            {% endfor %}

            {% endif %}

        </div>


        <div class="container">


            <div class="alert alert-info text-white ">
                IMAGES ARE UPDATED HERE
            </div>
        </div>


        <br>

        
        <div class="container">
            <div class="row">
                {% for i in img %}
                <div class="col-md-4">
                    <img src="{{i.img.url}}" alt="no images" class="img-thumbnail" width="400px" height="350px"> <br>
                </div>
                {% endfor %}
            </div>
        </div>
    


    </div>
</div>
</div>

{% endblock content %}